$cell-height: 3em;
$font-size: 0.85em;
$line-height: 1.2em;
$t-b-padding: calc((#{$cell-height} - #{$line-height}) / 2);
$l-r-padding: 5px;

:host {
  width: 100%;
  order: 500;
  padding: 0 $l-r-padding;
  // border-right: 1px solid #E0E0E0;
  &:last-child {
    border-right: none;
  }
}
.table-row-cell {
  // height: $cell-height;
  display: flex;
  align-items: center;
  .table-row-cell-content {
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    padding: $t-b-padding 3px $t-b-padding 5px;
    color: #56595d;
    font-weight: 400;
    font-size: $font-size;
    line-height: $line-height;
    .array-text-item {
      text-align: right;
    }
    &.expanded-cell {
        font-weight: 600;
    }

    .expand-trigger {
      cursor: pointer;
      padding-left: 0.7em;
    }
  }
  &.table-link {
      color: #2e7eff;
      // text-decoration: underline;
      cursor: pointer;
      .table-row-cell-content {
          color: #2e7eff;
      }
  }
}
