<div  class="table-row-cell" #valueContainer>

  <div [ngSwitch]="data.content">
    <ng-container *ngSwitchCase="'array-text'">
      <div class="table-row-cell-content" [ngClass]="expandable ? 'expanded-cell ' : ''">
        <ng-template ngFor let-item [ngForOf]="cellValue" let-i="index">
          <div class="array-text-item">{{item}}</div>
        </ng-template>
        <i *ngIf="expandable" class="fa fa-caret-down expand-trigger" (click)="expand.emit()"></i>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'link'">
      <a *ngIf="match(); else Nonhref" class="table-row-cell-content" href="{{cellValue.link}}" >{{cellValue.name}}</a>
      <ng-template #Nonhref>
        <a routerLink="{{cellValue.link}}" class="table-row-cell-content">{{cellValue.name}}</a>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <div class="table-row-cell-content" [ngClass]="expandable ? 'expanded-cell ' : ''">
        {{
        data.content === 'date' && cellValue !== 'Все' && cellValue !== ' ' ?
          ((cellValue.date || cellValue ) | date:'yyyy.MM.dd')
          : cellValue
        }}
        <i *ngIf="expandable" class="fa expand-trigger" [ngClass]="expanded? 'fa-caret-down ' : 'fa-caret-right'" (click)="fExpand()" ></i>
      </div>
    </ng-container>
  </div>
</div>
