$cell-height: 3em;
$font-size: 0.85em;
$line-height: 1.2em;
$t-b-padding: calc((#{$cell-height} - #{$line-height}) / 2);
$l-r-padding: 5px;

:host {
  order: 500;
  padding: 0 $l-r-padding;
}
.table-header-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .table-header-cell-content {
    display: inline-block;
    font-size: $font-size;
    padding: $t-b-padding 3px $t-b-padding 5px;
    .table-header-cell-name {
      cursor: pointer;
      display: inline-block;
      font-weight: 500;
      line-height: $line-height;
      .header-span {
        font-weight: normal;
        color: #a7a8a9;
      }
    }
    .table-header-cell-sort,.table-header-cell-filter {
      font-weight: normal;
      font-size: 0.8em;
      padding-left: 0.3em;
      color: #a7a8a9;
      &.active {
        color: black;
      }
    }
  }
}
