<div class="table-header-cell" #titleContainer>
  <div class="table-header-cell-content">
    <div class="table-header-cell-name" (click)="sort()">
      {{val}}
      <span *ngIf="settings.content === 'percentage'" class="header-span"> %</span>
      <span *ngIf="settings.content === 'money'" class="header-span"> RUB</span>
    </div>
    <i *ngIf="settings.sort" class="table-header-cell-sort fa"
       [ngClass]="{'fa-sort': settings.sortDir === null,
                   'active': settings.sortDir !== null,
                   'fa-sort-asc': settings.sortDir === 'asc',
                   'fa-sort-desc': settings.sortDir === 'desc'}"
       >
    </i>
    <i *ngIf="settings.filter" class="table-header-cell-filter fas fa-filter" >
      <!--// TODO: when its done-->
    </i>
  </div>
</div>
