@import "fonts";
@import "animations";

.two-sides-radio {
  @include font-family-title;
  font-size: 1.5em;
  margin-top: 1em;
  display: flex;
  align-items: center;
  .radio {
    height: 1.2em;
    width: 2em;
    margin: 0 .5em;
    position: relative;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 1em 1em 1em 1em;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    &::before {
      content: '';
      border-radius: 1em 1em 1em 1em;
      height: 100%;
      width: 100%;
      position: absolute;
      -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
    }
    .dot {
      position: absolute;
      height: 79%;
      width: 45%;
      background-color: black;
      border-radius: 100%;
      top: 11%;
      display: none;
      &.right-to-left-animated {
        @include right-to-left-animation
      }
      &.left-to-right-animated {
        @include left-to-right-animation
      }
      &.right-dot {
        left: 47%;
        display: block;
      }
      &.left-dot {
        left: 5%;
        display: block;
      }
    }

  }
  .inp {
    display: none;
  }
  .action-label {
    color: #07acfe;
    text-decoration: underline;
    :hover {
      filter: hue-rotate(8deg);
    }
  }
}
