@import "media";
$pagination-height: 5em;
$cell-height: 2.5em;


.pagination {
  height: $pagination-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  .pager {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination-cell {
    cursor: pointer;
    height: $cell-height;
    width: $cell-height;
    display: flex;
    align-items: center;
    justify-content: center;
    .pagination-cell-text {
      font-size: 0.85em;
      font-weight: 600;
      color: #15191f;
    }
    &.active {
      border-radius: 50% 50%;
      background-color: #2e7eff;
      box-shadow: 0 2px 10px 0 rgba(0, 98, 255, 0.4);
      .pagination-cell-text {
        font-size: 0.85em;
        font-weight: 500;
        color: #ffffff;
      }
  }
    &.fa {
      width: 1em;
      opacity: 0.4;
      color: #2e7eff;
      font-size: 1.5em;
      padding-bottom: 0.1em;
      &:hover {
        opacity: 1;
      }
    }
  }
  .per-pager {
    label {
      color: #56595d;
      padding: 0 1.5em;
      margin: 0;
      @include mq('mobile', max) {
        padding-right: 10px;
      }
    }
    .btn {
      padding: 0.2em 0 0 0;
      background-color: white;
      color: #2e7eff;
      border: none;
      font-size: 1em;
      width: 4em;
      &:focus {
        box-shadow: none;
        border: 1px solid #2e7eff;
        border-radius: 3px 3px 0 0;
      }
    }
    .dropdown-menu {
      margin-top: 0;
      font-size: 1em;
      border: 1px solid #2e7eff;
      min-width: 4em;
      width: 4em;
      padding: 0;
      border-radius: 0 0 3px 3px;
      top: -3px;
      .dropdown-item {
        cursor: pointer;
        margin: 0;
        width: 100%;
        padding-left: 1em;
        max-width: 3em;
        font-size: 1em;
        &:hover{
          border: none;
        }
      }
    }
  }
}
