<div class="pagination">
  <div *ngIf="settings && !(settings.total == 1)" class="pager">
    <div *ngIf="settings.currentPage != 1" class="fa fa-caret-left pagination-cell" (click)="changePage(settings.currentPage - 1)" >
    </div>
    <div *ngFor="let cell of paginationCells; index as i;" [ngClass]="{'active': settings.currentPage == cell.page}"
         class="pagination-cell" (click)="changePage(cell.page)">
      <div class="pagination-cell-text">
        {{cell.show}}
      </div>
    </div>
    <div *ngIf="settings.currentPage != settings.total" class="fa fa-caret-right pagination-cell"
         (click)="changePage(settings.currentPage + 1)" >
    </div>
  </div>

  <div class="per-pager" *ngIf="settings.totalElements != 0">
    <label>Количество элементов</label>
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        {{perPage}}
        <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li *ngFor="let choice of settings.perPages" role="menuitem" (click)="changePerPage(choice)"><a class="dropdown-item">{{choice}}</a></li>
      </ul>
    </div>
  </div>
</div>
