<div class="table-row">
  <ng-container *ngFor="let cell of cells">
    <app-table-row-cell *ngIf="!cell.shadowed"
                        (expand)="toggleExpand($event)"
                        [data]="cell"
    ></app-table-row-cell>
  </ng-container>
  <div *ngIf="actionColumnSettings" [ngStyle]="settings.flexGrow && {'flex-grow': actionColumnSettings.width}
                                                || {'width': actionColumnSettings.width}"
                                    [style.flexDirection]="actionColumnSettings.direction"
                                    class="action-cell">
    <div *ngFor="let action of actionColumnSettings.actions"
         class="action-column-trigger">
      <a [ngClass]="action.class" *ngIf="action.type === 'link'; else nonLink"
         [routerLink]="row[action['denoteField']]">{{action.text}}</a>
      <ng-template #nonLink>
        <span [ngClass]="action.class" (click)="events.emit({type: action.type, value: row[action['denoteField']]})">
          {{action.text}}
        </span>
      </ng-template>
    </div>
  </div>
</div>

<ng-template [ngIf]="expandRows">
  <div *ngFor="let slave of row.slaves">
    <app-table-row [row]="slave"
                   [settings]="settings"
                   [actionColumnSettings]="actionColumnSettings">
    </app-table-row>
  </div>
</ng-template>

