.action-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 500;
  font-size: 0.85em;
  .action-column-trigger {
    cursor: pointer;
    a {
      color: #2e7eff !important;
    }
  }
}
