<div class="table-row">
  <ng-container *ngFor="let cell of titles; index as i">
    <app-table-header-cell
      *ngIf="!cellSettings[i].shadowed"
      [value]="cell"
      [settings]="cellSettings[i]"
      [events]="events"
    ></app-table-header-cell>
  </ng-container>
  <div *ngIf="settings.actionColumn" [ngStyle]="settings.flexGrow && {'flex-grow': settings.actionColumn.width,
                                                'flex-basis': settings.actionColumn.flexBasis}
                                                || {'width': 'settings.actionColumn.width'}" style="order: 500"></div>
</div>
