@import "media";
:host {
  overflow: hidden;
}

.extendable-container {
  @include mq('tablet', max) {
    overflow-x: scroll;
  }
  &.extended {
    overflow-x: scroll;
  }
  .table-container {
    width: 100%;
    min-width: 700px;
    .total-row {
      background-color: #f5f9ff;
    }
  }
}
.empty-content {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    img {
        max-width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
}
