 <!--if got data-->
 <div *ngIf="(essentials$ | async)?.data as data$ else Loading"
      class="extendable-container" [class.extended]="settings.extraWidth > 100" >


   <div *ngIf="data$.rows?.length else emptyTable" class="table-container"
        [ngStyle]="tableWidthStyles()">
     <app-table-header [events]="events"
                       [titles]="data$.titles"
                       [settings]="settings"></app-table-header>
     <div *ngIf="data$.dataTotal && settings.totalRow" class="total-row">
       <app-table-row [events]="events"
                      [row]="data$.dataTotal"
                      [settings]="cellSettings"
                      [actionColumnSettings]="actionSettings">
       </app-table-row>
     </div>
     <app-table-row *ngFor="let row of data$.rows"
                    [events]="events"
                    [row]="row"
                    [settings]="cellSettings"
                    [actionColumnSettings]="actionSettings"
     ></app-table-row>
   </div>

   <ng-template #emptyTable>
       <div class="empty-content">
           <img src="/assets/img/pics/options.png" alt="">
          <p>
              Нет данных для наполнения таблицы.
          </p>
       </div>
   </ng-template>


 </div>
 <app-table-pagination *ngIf="(essentials$ | async)?.data" [settings$]="paginationSettings" [events]="events">

 </app-table-pagination>


 <!--if no data-->
 <ng-template #Loading>
   <app-spinner></app-spinner>
 </ng-template>
